* { transition: all .3s ease; }
a, a:hover , a:focus { text-decoration: none; }
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
figure {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
section + div { margin: 3rem 0; }
.Blog {
	background: #2aacb9;
	padding: 4rem 0;
}
.Blog-contenent {
	padding: 2rem;
}
.Blog-contenent .button {
	bottom: 1rem;
	font-size: .7rem;
	margin: 1rem 0;
	padding: .3rem 1rem;
}
.Blog-detalle {
	background: url(../img/blog-detalle.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Blog-title {
	font-weight: 700;
	margin: 2rem 0;
	font-size: 1.2rem;
}
.Contacto {
	background: url(../img/contacto.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Equipo {
	background: url(../img/equipo.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Footer {
	background: #0c3a63;
	color: #fff;
	padding-top: 3rem;
	font-size: .8rem;
}
.Footer .menu li:first-child {
	font-weight: bold;
	margin: 0 0 1.5rem 0;
	opacity: .5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.Footer .menu a {
	color: #fff;
	margin: .5rem 0;
	display: block;
}
.Footer .menu a:hover {
	color: #2aacb9;
}
.Header {
	position: absolute;
	z-index: 22;
	width: 100%;
	margin-top: 2rem;
}
.Index {
	background: url(../img/tratabid-agencia-diseno-grafico-web-tecnico.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Marketing {
	background: url(../img/marketing-bg.jpg) center center;
	background-attachment: fixed;
	background-size: 100%;
	color: #fff;
	padding: 150px;
}
.Marketing-content {
	background: #0c3a63;
	margin: 0;
	padding: 1.5rem 2rem;
	text-transform: uppercase;
}
.Marketing-title {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
.Nav a {
	color: #fff;
	padding: .3rem .7rem;
}
.Nav a:hover,
.active {
	color: #cddc39;
	border-bottom: 1px solid #cddc39;;
}
.Nav a:active,
.Nav a:focus {
	color: #2aacb9;
}
.Nav li {
	display: inline-block;
}
.News {
	background: url(../img/blog.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Nosotros {
	background: url(../img/nosotros.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Portafolio {
	background: url(../img/portafolio.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Projects {
	background: url(../img/pattern.png) #1f1f1f;
	background-attachment: fixed;
	background-size: 100px;
	padding: 5rem 0 2rem 0;
}
.Projects .menu a {
	color: #cddc39;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: bold;
	padding: .3rem 0;
}
.Projects .menu a:hover { color: #fff; }
.Projects .menu a:hover .Projects-icon { opacity: 1; }
.Projects-content {
	margin: 0 0 2rem 0;
	position: relative;
}
.Projects-content a:hover img {
	opacity: .1;
	transform: scale(1.3);
}
.Projects-content a:hover .Projects-content-title { background: #2aacb9; }
.Projects-content-title {
	background: #0c3a63;
	bottom: .5rem;
	color: #fff;
	font-size: .8rem;
	left: .5rem;
	margin: 0;
	padding: .5rem .8rem;
	position: absolute;
	text-transform: uppercase;
}
.Projects-icon {
	margin-right: 1rem;
	opacity: .2;
	width: 30px;
}
.Projects-title {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 2rem 0;
	font-size: 2rem;
}
.Servicios {
	background: url(../img/servicios.jpg) center -50px;
	background-attachment: fixed;
	background-size: cover;
}
.Services {
	background: #0b3355;
}
.Services-content {
	text-align: center;
	padding: 1rem;
}
.Services-link {
	color: #fff; display: block;
}
.Services-link:hover {
	color: #fff;
}
.Services-link:hover .Services-icon {
	transform: scale(1.3);
}
.Services-content:first-child {
	background: url(../img/thumbnail-diseno-electronico.jpg);
	background-size: 100%;
}
.Services-content:last-child {
	background: url(../img/thumbnail-diseno-tecnico.jpg);
	background-size: 100%;
}
.Services-content:nth-child(2) {
	background: url(../img/thumbnail-diseno-web.jpg);
	background-size: 100%;
}
.Services-content:nth-child(3) {
	background: url(../img/thumbnail-diseno-grafico.jpg);
	background-size: 100%;
}
.Services-extract { margin: 0 2rem; }
.Services-icon {
	margin: 1rem 0;
	width: 50px;
}
.Services-title {
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1rem 0;
}
.button {
	border: 0;
	border-radius: 2rem;
	display: inline-block;
	font-weight: bold;
	padding: .5rem 1.5rem;
	text-transform: uppercase;
}
.button-cta {
	background: #cddc39;
	color: #0b3355;
}
.button-cta:hover {
	background: #2aacb9;
	color: #fff;
}
.copyright {
	background: #000;
	color: #fff;
	opacity: .2;
	padding: 1.5rem 0;
	margin-top: 2rem;
	font-size: .7rem;
}
.copyright p {
	margin: 0;
}
.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.page {
	color: #fff;
	overflow: hidden;
	padding: 250px 0 100px;
	position: relative;
}
.page-article figure {
	margin: 2rem 0;
}
.page-article h2 {
	font-weight: bold;
	margin: 0 0 2rem 0;
}
.page-article h3 {
	margin: 2rem 0;
}
.page-content {
	margin: 3rem 0;
}
.centrado {
	text-align: center;
	
}
.page-content .menu {
	margin: 0 0 4rem 0;
}
.page-content .menu li {
	display: inline-block;
	margin: 0 1rem;
}
.page-content .menu a {
	background: #333;
	border-radius: 1rem;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: .5rem 1rem;
}
.page-content .menu a:hover {
	background: #2aacb9;
	color: #fff;
}
.page-content .menu img {
	width: 50px;
	margin-right: 1rem;
}
.page-content-icon {
	margin: .5rem 1rem .5rem 0;
	width: 40px;
}
.page-article-share {
	margin: 2rem 0;
}
.page-content-subtitle {
	font-weight: 300;
	margin: 0 0 1rem 0;
}
.page-content-title {
	font-weight: bold;
	margin: 0 0 1rem 0;
}
.page-description {
	font-size: 120%;
	margin: 2rem 0;
	width: 70%;
}
.page-title {
	font-weight: 700;
	text-transform: uppercase;
}
.page-title span {
	display: block;
	font-size: 90%;
	font-weight: 300;
}
/*.page-bg_color {
	background: -moz-linear-gradient(top, rgba(12,58,99,1) 0%, rgba(12,58,99,0.8) 100%);
background: -webkit-linear-gradient(top, rgba(12,58,99,1) 0%,rgba(12,58,99,0.8) 100%);
background: linear-gradient(to bottom, rgba(12,58,99,1) 0%,rgba(12,58,99,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3a63', endColorstr='#cc0c3a63',GradientType=0 );
	height: 100%;
	left: 0;
	opacity: .9;
	position: absolute;
	top: 0;
	width: 100%;
}*/
